body{
  margin: 0;
  background-color: rgb(255, 255, 249);
}
.container{
  display: grid;
  grid-template-columns:1fr 6fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
.sidebar{
  background-color: rgb(62, 129, 206);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  color: rgb(253, 248, 238);
  font-weight: 1000;
  padding: 2rem;
  width: 10rem;
}
.sidebar a{
 color: aliceblue; 
}
.navbar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.navbar2{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 10px;
  padding: 15px;
}

#search{
  display: flex;
  gap: 0.6rem;
  height: 20px;
}
#search .icons{
  height: 16px;
  margin-top: 2px;
}
.header{
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.header a{
  color: black; 
 }
input{
  width: 20rem;
  border-radius: 9em;
  border: 1px solid rgb(190, 188, 188);
  background-color: rgb(226, 229, 231);
}
.first-header{
  display: flex;
  justify-content: space-between;
  margin: 6px;
}
.first-header .intro a{
  margin-top: 6px
}
.first-header .intro img{
  width: 2rem;
}
.second-header{
  display: flex;
  justify-content: space-between;
  margin: 6px;
}
.intro #hi{
  margin-top: 4px;
}

.button{
  display: flex;
  padding-bottom: -10px;
  gap: 12px;
}
button{
  width: 4rem;
  height: 20px;
  background-color: rgb(62, 129, 206);
  border: 1px solid whitesmoke;
  border-radius: 12em;
  color: aliceblue;
  font-weight: 600;
}

.intro{
  display: flex;
  gap: 5px;
}
.profile-text{
  margin-top: 4px;
}
.images{
  width: 3rem;
  border-radius: 3rem;
}
.main-content{
  display: flex;
  padding: 8px;
  background-color: rgb(226, 229, 231);
  height: 47rem;
}
.title{
  font-size: large;
  font-weight: 900;
  margin-bottom: 8px;
}
.main-block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.grids{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 249);
  padding: 10px;
  border-left: 4px solid orange;
  border-radius: 0.5rem;
  min-height: 10rem;
  position: relative;
}
.head-text{
  font-size: medium;
  font-weight: 850;
  padding-bottom: 1px;
}
.main-side{
  margin-left: 2rem;
  margin-right: 1rem;
}
.annoucements{
  display: grid;
  background-color: rgb(255, 255, 249);
  padding: 1rem;
  margin-top: 0;
  width: 12rem;
}

.announce-block-head{
  font-weight: 600;
}
.announce-block{
  padding: 1rem;
}

.trending{
  margin-top: 1rem;
}
.trending-block{
  display: grid;
  background-color: rgb(255, 255, 249);
  padding: 1rem;
}
.trend{
  padding: 3px;
}
a{
  text-decoration:none
}
.main-content a{
  color: black;
}

.icons{
  width: 1rem;
}
.path{
  display: flex;
  gap: 0.4rem;

}

.main-icons{
  padding: 3px;
  margin: 8px;
}

.bottomright{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
